@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');

.layout-main {
    height: 100vh;
}

.layout-header {
    position: fixed;
    top: 0;
    background: #6D72CB;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.layout-header__bar{
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
}

.layout-logo{
    cursor: pointer;
    height: 3rem;
}

.layout-header__navbar{
    width: 25rem;
    height: 100%;
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: .7rem 0;
    margin:0 2rem;
}

.layout-header__navbar-item{
    cursor: pointer;
    color: #ececec;
    height: 65%;
    border-bottom: 3px solid #fff;
    transition: .3s;
}

.layout-header__navbar-item:hover{
    color: rgb(39, 39, 39);
    border-bottom: 3px solid rgb(39, 39, 39);
}

.layout-header__navbar-movil{
    width: 4rem;
    padding: .4rem 0;
    height: 100%;
    display: none;
}

.layout-header__sideMenu-movil{
    width: 100%;
    height: calc(100vh - 5rem);
    background: #6D72CB;
    position: absolute;
    top: 5.05rem;
    animation-name: example;
    animation-duration: .5s;
}

@keyframes example {
    from {left: 100%;}
    to {left:0%;}
  }

@media screen and (max-width: 1000px) {
    .layout-header__navbar {
      display: none; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .layout-header__navbar-movil{
        display: flex;
    }

    .layout-header__navbar-item{
        width: 12rem;
        height: 2.5rem;
        font-family: 'Public Sans', sans-serif;
        padding: .7rem 0;
        margin:0 2rem;
        font-size: 34px;
    }


  }

