
.user__main{
    width: 98%;
    margin: .8rem auto;
    padding: 5rem 0 0 0;
    display: flex;
    height: calc(100vh - 8rem);
}

.user-panel__left{
    width: 23rem;
    display: flex;
    flex-direction: column;
}

.user-panel__middle{
    width: 62rem;
    height: auto;
}

.user-panel__right{
    width: 30rem;
    height: 100%;
}

.user-panel__profile{
    width: 100%;
    height: 27rem;
}

.user-panel__todo{
    width: 100%;
}


@media screen and (max-width: 1000px) {
    .user__main{
        flex-direction: column;
    }

    .user-panel__middle{
        width: auto;
        height: auto;
    }
}